@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="autism-text">Autism Appointment Application</h1>
    <p class="lead"></p>
    <p>
        <a href="https://www.autismspeaks.org/what-autism" target="_blank" class="btn btn-primary btn-lg autism-button">What is Autism? &raquo;</a>
        <a href="@Url.Action("Create", "Appointment")" class="btn btn-primary btn-lg appointment-button">Schedule Appointment &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-3 open-hours-section">
        <h2>Opening Hours</h2>
        <ul>
            <li>Monday:       9:00 - 5:00</li>
            <li>Tuesday:      9:00 - 5:00</li>
            <li>Wednesday:    9:00 - 5:00</li>
            <li>Thursday:     9:00 - 5:00</li>
            <li>Friday:       9:00 - 5:00</li>
            <li>Saturday:     closed</li>
            <li>Sunday:       closed</li>
        </ul>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>*@
    <div class="col-md-4 about-section">
        <h2>About</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>