body {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    margin-right: 0px;
    font-family: Verdana, sans-serif;
}

hr {
    background-color: #2fa4e7;
}

.buttons {
    background-color: white;
    border-radius: 20px;
}

.buttons:hover{
    -webkit-box-shadow: 0 0 20px #fff;
    box-shadow: 0 0 20px #fff;
}

#buttons{
    background-color: white;
    border-radius: 20px;
}

#buttons:hover {
    -webkit-box-shadow: 0 0 20px #2fa4e7;
    box-shadow: 0 0 20px #2fa4e7;
}

.index-cards {
    margin-top: 3rem;
    margin-left: 5rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Styling for the main home page */

.jumbotron {
    padding-right: 50px;
    margin-top: 50px;
}

.about-section {
    margin-left: 0em;
    margin-top: 20px;
}

.autism-button {
    margin: 30px;
    margin-left: 0px;
}

    .autism-button:hover {
        -webkit-box-shadow: 0 0 50px #2fa4e7;
        box-shadow: 0 0 50px #2fa4e7;
    }

.appointment-button {
    margin: 20px;
}

    .appointment-button:hover {
        -webkit-box-shadow: 0 0 50px #2fa4e7;
        box-shadow: 0 0 50px #2fa4e7;
    }

#autism-text {
    font-family: Arial;
    font-size: 60px;
}

/*Calendar Styling*/

.calendar {
    display: inline-block;
    margin-right: 50px;
    float: right;
    border: 1px solid black;
}

/*Month header*/
.month {
    padding-top: 30px;
    background: #2fa4e7;
    text-align: center;
    padding-bottom: 30px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 2em;
    padding-left: 10px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 20px;
}

/*Next button */
.month .next {
    float: right;
    padding-right: 10px;
    padding-top: 2em;
    cursor: pointer;
    margin-left: 5px;
    font-size: 20px;
}

/*Weekdays (Mon-Sun) */
.weekdays {
    background-color: #ddd;
}

/*Days (1-31)*/
.days {
    background: #eee;
    text-align: center;
}

    .days td:hover:not(#today) {
        background-color: #a9d6e5;
        border: 2px solid #61a5c2;
        cursor: pointer;
        text-align: center;
    }

.head-day {
    font-size: 40px;
    line-height: 1;
    color: #fff;
}

.head-month{
    color: #fff;
}

#today {
    text-align: center;
    background-color: #2fa4e7;
    color: #fff !important;
    font-family: serif;
}

/*Patient Styling*/

.patient-header {
    margin-top: 20px;
}

.patient-create-button {
    margin: 20px;
    width: 5%;
}

    .patient-create-button:hover {
        -webkit-box-shadow: 0 0 20px #2fa4e7;
        box-shadow: 0 0 20px #2fa4e7;
    }

.patient-delete {
    margin-top: 20px;
    margin-bottom: 40px;
}

.patient-information {
    margin-top: 20px;
}

.edit-patient-info {
    margin-top: 20px;
}

.save-patient-button {
    margin: 10px;
}

.patient-index{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Appointment Styling*/
.appointment-header{
    margin-top: 20px;
}

.appointment-create-button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.appointment-delete{
    margin-top: 40px;
    margin-bottom: 20px;
}

.appointment-detail{
    margin-top: 40px;
}

.appointment-edit{
    margin-top: 20px;
}

.appointment-save-button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.appointment-index{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Therapist Styling*/
.therapist-header{
    margin-top: 20px;
}

.therapist-create-button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.therapist-delete{
    margin-top: 20px;
    margin-bottom: 20px;
}

.therapist-detail{
    margin-top: 20px;
    margin-bottom: 20px;
}

.therapist-edit{
    margin-top: 20px;
    margin-bottom: 20px;
}

.therapist-save-button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.therapist-index{
    margin-top: 20px;
    margin-bottom: 20px;
}
